.app{
    width: 80%;
    margin: auto;
    background-color: lightgray;
    
   
}
.actor-img{
    width: 200px;
    height: 150;
    border-radius: 50%;
    
    
}
.All-actor{
    display: flex;
    flex-wrap: wrap;
   justify-content: space-between;
   
    
}
.All-actor > div{
    margin-bottom: 20px;
    
}
.All-actor  h3 {
    margin: 0;
    padding: 0;
    text-align: center;
    color: red;

}
.actor-img:hover {
    transform: scaleX(-1);
  }
